* @thezaplang/Maintainers

# Override src as being owned by funcieqDEV AND maintainers
src @funcieqDEV @thezaplang/Maintainers

# Override the below directories as being owned by iDontHaveTime
# AND maintainers
src/driver @iDontHaveTime @thezaplang/Maintainers

# GitHub config stuff
.github @MrBisquit @thezaplang/Maintainers

# Doxygen and documentation
Doxygen @MrBisquit @thezaplang/Maintainers
docs @funcieqDEV @MrBisquit @thezaplang/Maintainers

# Tests
tests @funcieqDEV @MrBisquit @Maqi-X @iDontHaveTime @thezaplang/Maintainers
